%p#notice= notice

%p
  %b Name:
  = @subscription.name
%p
  %b Price:
  = @subscription.price
%p
  %b Currency:
  = @subscription.currency

= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path
